body, html {
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff;
}

.hidden { display: none; }

/* PAGE BACKROUND */
.page-background {
    background: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* MAIN PAGE CONTAINER */
.maincontainer {
    position: relative;
    width:354.6px;
    height:504px;
}

/* ANIMATION CONTAINER */
.animationcontainer {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 0.3s ease;
}

.animationcontainer:hover {
    transform: rotateY(180deg);
}
/* ANIMATION CONTAINER */

/* INVITE IMAGE CONTAINER */
.imagecontainer {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-image: url('../img/IV.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    display: none;
} 

/* Image Container Title */
.title {
    text-align: center;
    color: gray;
    opacity: 0;
    display: none;
}

/* Class to show the image container */
.show {
    display: inline-block;
    opacity: 1;
}

/* FORM CONTAINER */
.formcontainer {
    color: rgb(235, 181, 49);
    background-color: #030303;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 10px;
}

/* Country Code Input Field */
.iti { width: 100%; }

/* Spinner */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.btn-gold { color: #000;  background-color:  rgb(235, 181, 49); }

.btn-gold:hover,
.btn-gold:focus,
.btn-gold:active {
    background-color:  rgba(235, 181, 49, .7);
    color: #000;
}

 /* SWAL FROM SWEETALERT */
.swal-modal {
    width: 340px;
    position: absolute;
    top: 20%;
    left: 50%;
    padding-bottom: 4px;
    transform: translateX(-50%);
}
.progress-bar {
    position: absolute;
    bottom: 1px;
    right: 2px;
    left: 2px;
    background: #f3f3f3;
    height: 3px;
    overflow: hidden;
}
.progress {
    background: rgb(161, 117, 6);
    height: 100%;
    transition: width 0.1s;
}
 /* SWAL MODAL FROM SWEETALERT */

/* MEDIA QUERIES */

/* For smartphones */
@media (max-width: 480px) {
    .page-background {
        height: 100vh;
        width: 100vw; 
    }
}

/* For larger smartphones or small tablets */
@media (min-width: 481px) and (max-width: 600px) {
    .page-background {
        height: 100vh;
        width: 100vw;
    }
}
/* MEDIA QUERIES */